@import url("base.css");
a:focus, a:hover
{
	text-decoration: none !important;
}
.infoHeader
{
	background: #0098e2;
	width: 100%;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.infoHeader div:nth-child(1)
{
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 6em;
}
.infoHeader p 
{
	display: flex;
	align-items: center;
}
.infoHeader p i 
{
	font-size: 1.2em;
	margin-right: .5em;
}
.infoHeader p:nth-child(1)
{
	margin-right: 1.3em;
}
.infoHeader i:nth-child(1)
{
	margin-left: 1em;
}
.infoHeader div:nth-child(2)
{
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 7.2em;
}
.infoHeader a:nth-child(2)
{
	border: 1px solid #fff;
	padding: .6em;
	border-radius: 4px;
	transition: .3s ease-out;
}
.infoHeader a:nth-child(2):hover
{
	background: #fff;
	color: #0098e2;
}
.infoHeader a:nth-child(1)
{
	display: flex;
	align-items: center;
	margin-right: 2em;
}
.infoHeader a i 
{
	font-size: 1.4em;
	margin-right: .5em;
}
#HomeBanner
{
	width: 100%;
	height: 48em;
	overflow: hidden;
}
#HomeBanner img
{
	width: 100%;
	transition: .5s ease-out;
}

header
{
	width: 82.9%;
	height: 7em;
	position: absolute;
	top: 0;
	margin-top: 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0em 7.3em;
}

header h1
{
	z-index: 1;
}
header nav
{
	width: 31em;
	height: 100%;
}
header nav ul
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header nav ul li
{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav ul li a 
{
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	transition: .3s ease-out;
	text-shadow: 3px 2px 28px #000;

}
header nav ul li a:hover
{
	border-bottom: 1px solid #fff;
}
header nav ul li a:focus
{
	border-bottom: 1px solid #fff;
}
header nav ul li a:active
{
	border-bottom: 1px solid #fff;
}

#HomeBanner .container
{
	position: absolute;
	top: 0;
	z-index: 1;
	height: 73.2%;
	width: 82.9%;
	margin-top: 10em;
}
#HomeBanner:hover .bg
{
	filter: blur(.8px);
}
#HomeBanner main
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#HomeBanner main h1
{
	text-shadow: 3px 11px 29px #000000;
	margin-bottom: .5em;
	margin-top: -3em;
}
#HomeBanner main h2 
{
	text-shadow: 3px 11px 29px #000000;

}
#HomeBanner .bannerBoxProp
{
	width: 100%;
	height: 6em;
	background: #fff;
	border-radius: 6px;
	margin-top: 4em;
	box-shadow: 0px 0px 33px -13px #000;
	display: flex;
	align-items: center;
	position: relative;
}
.bannerBoxProp div
{
	height: 100%;
	width: 21.5%;
	border-right: 1px solid #e0e0e0;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.bannerBoxProp div:nth-child(3)
{
	width: 23%;
}
.bannerBoxProp a 
{
	height: 100%;
	width: 13.7%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0098e2;
	color: #fff;
	font-family: Quicksand;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: .1em;
	transition: .3s ease-out;
	border-radius: 0px 6px 6px 0px;
}
.bannerBoxProp a:hover
{
	background: #05acfd;
}

.bannerBoxProp a:active
{
	background:#0081bf;
}
.bannerBoxProp .tarjinha
{
	width: auto;
	position: absolute;
	right: -1.2%;
	top: -25%;
	transition: 1s ease-out;
	max-width: 2.5%;
	display: none;
}
.bannerBoxProp h2
{
	text-shadow: none !important;
	font-family: quicksand;
	margin-left: 1.5em;
	font-size: 1em;
	color: #5d5b5b;
	text-transform: uppercase;
}
.bannerBoxProp p
{
	font-family: quicksand;
	margin-left: 1.5em;
	margin-top: 1em;
	color: #212121;
	font-weight: 500;
}
.bannerBoxProp .pDisponivel
{
	color: #26c500;
}
.arrowSlide
{
	color: #fff;
	transform: rotate(450deg);
	position: absolute;
	bottom:-5%;
	cursor: pointer;
	padding: 1em;
}
#HomeServicos main h2
{
	font-family: quicksand;
	font-weight: 400;
	font-size: 2em;
	width: 100%;
	text-align: center;
	margin-top: 3em;
}
.bordaBaixo
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 4em;
}
.bordaBaixo span
{
	width: 6em;
	height: .1em;
	background: #ababab;
}
.bordaBaixo i
{
	color: #0098e2;
	margin-right: .5em;
	margin-left: .5em;
}
.containerServicos
{
	width: 100%;
	height: 24em;
	display: flex;
	margin-bottom: 4em;
	box-shadow: 0px 0px 28px -13px #000;
	overflow: hidden;
	border-radius: 6px;
}
.containerServicos .boxImg
{
	width:36em;
	overflow: hidden;
}
.containerServicos .boxImg img
{
	width: 100%;
	height: 100%;
}

.containerLazer
{
	width: 100% !important;
	height: 4.8em !important;
	display: flex !important;
	flex-direction: row !important;
	margin-bottom: 1em;
	align-items: center !important;
}

.lazerDesc
{
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.lazerDesc h2
{
	margin-top: 0 !important;
	font-size: 1.1em !important;
	text-align: start !important;
	margin-bottom: .5em !important;
}
.lazerDesc p
{
	font-family: quicksand;
	color: #717171;
}
#HomeGaleria
{
	margin-top: 9em;
	margin-bottom: 2em;
}
#HomeGaleria main
{
	display: flex;
	align-items: center;
	width: 100%;

}
#HomeGaleria main div
{
	width: 25%;
	height: 21em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#HomeGaleria main div img
{
	width: 100%;
}
.boxGaleriaHome span
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0000008c;
	transition: .3s ease-out;
	opacity: 0;
}
.boxGaleriaHome a 
{
	font-family: quicksand;
	position: absolute;
	color: #fff;
	z-index: 1;
	text-align: center;
	font-size: 1.3em;
	transition: .3s ease-out;
	opacity: 0;
}
.boxGaleriaHome:hover span
{
	opacity: 1;
}
.boxGaleriaHome:hover a
{
	opacity: 1;#ababab;
}
.servicosDesc
{
	padding-left: 6.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.servicosImg
{
	margin-right: 1.2em;
}
.servicosImg i
{
	color: #0098e2;
	font-size: 2em;
}
#HomeComments
{
	padding-bottom: 7em;
}
#HomeComments main
{
	padding-top: 5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#HomeComments main h2
{
	font-family: quicksand;
	font-weight: 400;
	font-size: 1.4em;
}
#HomeComments main span
{
	width: 12em;
	height: .1em;
	background: #c3c3c3;
	display: flex;
	margin-top: 1.1em;
}
#HomeComments blockquote
{
	font-family: quicksand;
	width: 33em;
	font-size: 1em;
	margin-top: 1.5em;
	font-style: italic;
	color: #737373;
	line-height: 1.2em;
	font-weight: 500;
	position: relative;
	margin-left: .6em;
}
#HomeComments blockquote i:nth-child(1)
{
	font-size: 2.5em;
	margin-left: 0em;
	top: 1%;
	position: absolute;
	left: -5%;
}
#HomeComments blockquote i:nth-child(2)
{
	font-size: 2.5em;
	position: absolute;
	bottom: -23%;
	right: 46%;
}
.boxImgComments
{
	width: 6em;
	height: 6em;
	border-radius: 70%;
	overflow: hidden;
	margin-top: 2em;
}
.boxImgComments img
{
	width: 100%;
}
.userBox
{
	display: flex;
}
.boxComments
{
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 9em;
}
.boxComments h3
{
	font-family: quicksand;
	font-size: 1.1em;
	margin-left: 1.5em;
	font-weight: 400;
}
.boxComments p
{
	font-family: quicksand;
	font-size: 1em;
	color: #6f6f6f;
	margin-left: 1.5em;
	margin-top: .5em;
}
.manComments
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.manComments blockquote
{
	text-align: end;
}
#HomeComments .manComments blockquote i:nth-child(1) {


	left: 11%;
}
#HomeComments .manComments blockquote i:nth-child(2) {


	right:-4%;
}
.manComments .boxImgComments
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.manComments .boxComments
{
	align-items: flex-end;
	margin-right: 1.5em;
}
footer
{
	background: #1d1d1d;
	width: 100%;
	height: 19em;
}
footer .container, footer main, footer div
{
	height: 100%;
}
.boxLogoRedes
{
	width: 20em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.boxLogoRedes h1
{
	font-weight: 400;
	font-size: 2.4em;
	color:  #d8d8d8;
}
.boxLogoRedes .listaResdes
{
	height: 4em;
	display: flex;
	margin-top: 2em;
	align-items: center;
	justify-content: space-between;
	width: 13em;
}
.boxLogoRedes .listaResdes a img
{
	width: 61%
}
.boxLogoRedes .listaResdes a 
{
	width: 2em;
	height: 2em;
	border: 1px solid #7e7e7e;
	display: flex;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	padding: .3em;
}
.instaBox
{
	background: #0098e2;
	border: 1px solid #0098e2 !important; 
}
footer main
{
	display: flex;
	align-items: center;
}
.footerConteudo
{
	width: 52em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 5em;
}
.footerConteudo ul
{
	width: 100%;
	display: flex;
	justify-content: center;
}

.footerConteudo a 
{
	font-family: quicksand;
	color: #d8d8d8;
	font-size: .9em;
	height: 100%;
	display: flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	letter-spacing: .1em;
}
.footerConteudo li
{
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0em 1em;
}
.reservasLink
{
	color: #0098e2 !important;
	font-weight: 500;
}
.footerConteudo p 
{
	font-family: quicksand;
	color: #a7a7a7;
	font-size: .9em;
	margin-top: 1.5em;
	line-height: 1.4em;
	text-align: center;
}
.footerInfo
{
	width: 25em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
.footerInfo p 
{
	text-align: end;
	font-family: quicksand;
	color: #d8d8d8;
	font-size: .9em;
	line-height: 1.4em;
}
.listCards
{
	display: flex;
	align-items: center;
	height: 5em;
	margin-left: 0em;
	justify-content: flex-end;
}
.listCards img
{
	margin-left: 1em
}
.credits
{
	width: 100%;
	height: 3em;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.credits p
{
	color: #d8d8d8;
	font-family: quicksand;
	font-size: .9em;
}
.spaceTittle
{
	width: 100%;
	height: 7em;
	background: #002131;
	padding-top: 10em;
}
.spaceTittle h1
{
	font-family: quicksand;
	font-size: 2.5em;
	color: #fff;
	width: 100%;
	text-align: center;
}
#Galeria main 
{
	display: flex;
	flex-wrap: wrap;
	padding-top: 5em;
	padding-bottom: 7em;
	justify-content: space-between;
}
.galeriaContainer
{
	width: 28%;
	height: 31em;
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 17px;
	cursor: pointer;
	justify-content: center;
	margin-bottom: 3em;
}
.galeriaContainer img
{
	width: 100%;
	height: 100%;
}
.blend
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: #000;
	opacity: 0;
	transition: .3s ease-out;
}
.galeriaContainer i
{
	position: absolute;
	margin: 0 auto;
	color: #fff;
	font-size: 6em;
	opacity: 0;
	transition: .3s ease-out;
}
.galeriaContainer:hover .blend
{
	opacity: 0.6;
}
.galeriaContainer:hover .iconFull
{
	opacity: 1;
}
#Explore main
{
	display: flex;
	flex-direction: column;
	padding-top: 8em;
	padding-bottom: 7em;
}
.exploreContainer
{
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 0px 28px -13px #000;
	width: 100%;
	overflow: hidden;
	height: 25em;
	border-radius: 10px;
	margin-bottom: 4em;
}
.exploreIMG
{
	height: 100%;
	width: 53%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.exploreIMG img
{
	width: 100%;
	height: 100%;
}
.exploreDESC
{
	width: 44%;
}
.exploreDESC h2
{
	font-family: quicksand;
	font-size: 1.5em;
	margin-top: 1.3em;
}
.exploreDESC p
{
	font-family: quicksand;
	margin-top: 1em;
	line-height: 1.5em;
	font-size: 1.1em;
	width: 94%;
	margin-bottom: 4.5em;
	color: #5d5d5d;
}
.btnReservar
{
	font-family: quicksand;
	color: #0098e2;
	font-size: 1.4em;
	border: 1px solid #0098e2;
	border-radius: 4px;
	transition: .3s ease-out;
	padding: .23em 1em;
}
.btnReservar:hover
{
	background: #0098e2;
	color: #fff;
}
.btnReservar:active
{
	background: #046696;
}
.exploreReverse
{
	flex-direction: row-reverse;
}
.exploreReverse .exploreDESC {
	margin-left: 2.1em;
}
.exploreReverse p 
{
	margin-bottom: 3.5em;
}
#Reservas main
{
	display: flex;
	flex-direction: column;
	padding-top: 5em;
	padding-bottom: 7em;
}
#Reservas .reservaDesc p 
{
	font-family: quicksand;
	font-size: 1.1em;
	color: #656565;
	margin-bottom: 2em;
	line-height: 1.4em;
}
#Reservas .reservaDesc h3
{
	font-family: quicksand;
	font-size: 1.3em;
	font-weight: 500;
	margin-bottom: 1em;	
}
.containerMapa
{
	width: 100%;
	height: 29em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.containerMapa iframe
{
	width: 100% !important;
	height: 100% !important;
}
.ReservasIcons
{
	display: flex;
}
.ReservasIcons i
{
	color: #0098e2;
	margin-right: .5em;
}
.btnContato
{
	font-family: quicksand;
	color: #fff;
	background: #0098e2;
	padding: .7em 1.7em;
	font-weight: 500;
	border-radius: 3px;
	margin-top: 0em;
	display: flex;
	width: 10.6em;
}

.contatoForm p, .contatoForm label, .contatoForm legend, .contatoForm input, .contatoForm textarea

{
	font-family: quicksand;
}

#Contato main
{
	padding-top: 5em;
	padding-bottom: 7em;
	display: flex;
	align-items: center;
	justify-content: center;
}

#Contato form
{
	width: 40em;
	border-radius: 4px;
	padding: 3em;
	box-shadow: 0px 0px 39px -17px #000;
}
#Contato form input, #Conato form textarea
{
	border-top:none;
	border-left: none;
	border-right: none;
}
#Contato form label
{
	color: #a5a5a5;
}
#Contato form button
{
	font-family: quicksand;
	background: #0098e2;
	color: #fff;
	margin-top: 2em;
}
#Contato form legend
{
	margin-bottom: 1em;
}
#Contato form 
{
	position: relative;
}
#Contato form svg
{
	position: absolute;
	right: -4%;
	top: -9%;
}